@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
body {
    margin: 0 500px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 8%, rgba(144, 10, 207, 1) 56%, rgba(0, 48, 255, 0.8886905103838411) 94%);
    font-family: Helvetica, sans-serif;
}

.nav-items {
    display: flex;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    letter-spacing: 5px;
}

.login {
    position: absolute;
    top: 301px;
    left: -30px;
}

.register {
    position: absolute;
    top: 548px;
    left: 126px;
}



.fas.fa-plane {
    color: #00ffdc;
    font-size: 126px;
    position: absolute;
    top: 253px;
    left: -50px;
    z-index: -1;
    text-shadow: 17px 7px 7px black;
}

.fas.fa-plane.register {
    color: #00ffdc;
    font-size: 126px;
    position: absolute;
    top: 500px;
    left: 113px;
    z-index: -1;
    text-shadow: 17px 7px 7px black;
}

.title {
    font-size: 61px;
    color: #b4ff00;
    letter-spacing: -4px;
    margin-top: 15px;
    text-shadow: -13px -4px 11px black;
    text-align: center;
}

.planets {
    position: relative;
}

.earth-img {
    max-width: 500px;
}

.earth-img img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 412px;
}

.mars-img {
    max-width: 500px;
}

.mars-img img {
    right: 565px;
    width: 100%;
    position: absolute;
    top: 0px;
}