.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 156px;
    border: 2px solid gray;
    box-shadow: -1px -1px 4px 2px grey;
    margin: 0px -202px;
    border: none;
    font-family: Monsserat, sans-serif;
    background-color: #F7F7F7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* position: fixed; */
    z-index: 1;
}

ul {
    display: flex;
}

li {
    margin: 0px 5px;
    padding: 0px 10px;
    list-style: none;
    color: #504e4e;
    font-weight: 400;
    white-space: nowrap;
}

.active-class {
    color: red;
  }
  
  .active {
    color: green;
  }
  