.container {
    background-image: url("planets.jpg");
    width: 60vw;
   min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }




.blog-cards {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
	flex-grow: 0;
	flex-shrink: 0;
}

.no-post-text {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 0px 1px 4px #26fb2d;

}

.btn-container {
    text-align: center;
}  

.add-new-post-btn {
    background-color: white;
    color: black;
    border: none;
    border-radius:103px;
    font-size:20px;

    padding: 20px 30px;
}

