
* {
    box-sizing: border-box;
}
body{
    background-color: black;
}

.container {
    /* box-shadow: -20px -16px 20px black; */
    margin-top: 100px;
    padding: 50px 50px;
    /* background-image: url('./stars.jpg'); */
    /* color: wheat; */
    border-radius: 130px;
    position: relative;
}
.carousel-container{
    width: 500px;
    position: relative;
}
.carousel{
    left: -100px;
    border-radius: 6px;
}
.container-img {
    max-width: 500px;
}

.container-img img {
    width: 100%;
    border-radius: 100px;
}

.first-star {
    left: -382px;
    font-size: 15px;
    position: absolute;
    top: -26px;
    color: white;
}

.second-star {
    left: -76px;
    font-size: 15px;
    position: absolute;
    top: 149px;
    color: white;

}

.third-star {
    left: 554px;
    font-size: 15px;
    position: absolute;
    top: 431px;
    color: white;

}

.forth-star {
    left: 800px;
    font-size: 15px;
    position: absolute;
    top: 520px;
    color: white;

}

.first-meteor {
    color: #FFFFFF;
    left: 720px;
    font-size: 159px;
    position: absolute;
    top: 12px;
}

.second-meteor {
    color: #FFFFFF;
    left: -455px;
    font-size: 159px;
    position: absolute;
    top: 344px;
}

.user-login-register {
    display: flex;
    position: absolute;
    top: 200px;
    right: -316px;
    font-size: 20px;
    font-weight: bold;
}

.login-btn,.register-btn {
    list-style: none;
    margin-left: 22px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 10px;
    background:#FFFFFF;
    border: none;
}

a {
    color: black;
    text-decoration: none;
}

.login-btn {
    top: -50px;
    position: absolute;
}

.first-slide-label{
    color: black;
}

.second-slide-label{
    color: white;
}
img, svg {
    vertical-align: middle;
    border-radius: 50%;
}